/* --------------- STRUCTURAL DESIGN --------------- */
*,
h2,
h3 {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.top {
    /* 10% der höhe */
    background-color: rgb(255, 0, 208);
    flex: 0 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom {
    /* 90% der höhe */
    background-color: rgb(0, 255, 247);
    flex: 0 0 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* --------------- Component/Elementwise DESIGN --------------- */
.top-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1vh;
}

.bottom-title {
    /* 15% des bottoms in der höhe */
    flex: 0 0 20%;
    /*center the buttons*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*because thebuttons get stretched because of the flex display i am going to adjust that in th design for the buttons*/

    /*make the buttons same wide as the text below*/
    width: 80%;
}

.bottom-content {
    /* 70% des bottoms in der höhe */
    background-color: white;
    flex: 0 0 55%;
    display: flex;
    /*display flex makes the height 100% of ots parent for some reason*/
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    /* Ermöglicht horizontales Scrollen bei Bedarf */
    overflow-y: auto;
}

.bottom-button {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --------------- GENERAL DESIGN --------------- */

hr {
    border: none;
    height: 3px;
    background-color: black;
}

/* --------------- HANBURGER-MENU --------------- */

/* hamburger icon */
#hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
}

.strich {
    background-color: black;
    width: 100%;
    height: 20%;
}

/* hamburger wall */
#hamburger-wall {
    display: none;
    justify-content: center;
}

.space-evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}


/* =======================
   Responsive Design
======================= */

/* Mobile design  (768px and smaller) */

@media (max-width: 768px) {

    /* links verschinden, hamburger wird angezeigt */
    .nav-link {
        display: none;
    }

    #hamburger {
        display: flex;
    }

    .cross #strich1 {
        transform: translateY(0.57rem) rotate(45deg);
        /*45rotieren und den strich ein wenig runter schieben auf der y-achse*/
    }

    .cross #strich2 {
        opacity: 0;
        /*45rotieren und den strich ein wenig runter schieben auf der y-achse*/
    }

    .cross #strich3 {
        transform: translateY(-0.57rem) rotate(-45deg);
        /*45rotieren und den strich ein wenig runter schieben auf der y-achse*/
    }

    /* falls die klasse .nav-open existiert dann wird folgendes auf das nächste sibling mit id haburger-wal angewendet */
    .nav-open~#hamburger-wall {
        display: flex;
        flex-direction: column;
    }

    .nav-open~.bottom {
        display: none;
    }

    .option {
        display: flex;
        font-size: 1.5rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}