/* --------------- STRUCTURAL DESIGN --------------- */
*,
p,
h2,
h3 {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.top {
    /* 10% der höhe */
    background-color: rgb(255, 255, 255);
    flex: 0 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom {
    /* 90% der höhe */
    background-color: rgb(255, 255, 255);
    flex: 0 0 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.bottom-2_8-2 {
    /* 15% des bottoms in der höhe */
    /* 70% des bottoms in der höhe */
    flex: 0 0 20%;
    display: flex;
}

.bottom-2_8-8 {
    /* 70% des bottoms in der höhe */
    flex: 0 0 80%;
    display: flex;
}

/* --------------- Component/Elementwise DESIGN --------------- */
.top-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.nav-links {
    .nav-link {
        margin-left: 1vw;
        margin-right: 1vw;
    }

    display: flex;
    /* takes the remaining space in the parent-div  --->  flex: 0.7; */
    justify-content: space-between;
}

/* --------------- GENERAL DESIGN --------------- */

hr {
    border: none;
    height: 4px;
    background-color: black;
}

/* --------------- HANBURGER-MENU --------------- */

/* hamburger icon */
#hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
    height: 1.5rem;
}

.strich {
    background-color: black;
    width: 100%;
    height: 20%;
}

/* hamburger wall */
#hamburger-wall {
    display: none;
    justify-content: center;
}

.space-evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}


/* =======================
   Responsive Design
======================= */

/* Mobile design  (768px and smaller) */

@media (max-width: 768px) {

    /* links verschinden, hamburger wird angezeigt */
    .nav-link {
        display: none;
    }

    #hamburger {
        display: flex;
    }

    .cross #strich1 {
        transform: translateY(0.57rem) rotate(45deg);
        /*45rotieren und den strich ein wenig runter schieben auf der y-achse*/
    }

    .cross #strich2 {
        opacity: 0;
        /*45rotieren und den strich ein wenig runter schieben auf der y-achse*/
    }

    .cross #strich3 {
        transform: translateY(-0.57rem) rotate(-45deg);
        /*45rotieren und den strich ein wenig runter schieben auf der y-achse*/
    }

    /* falls die klasse .nav-open existiert dann wird folgendes auf das nächste sibling mit id haburger-wal angewendet */
    .nav-open~#hamburger-wall {
        display: flex;
        flex-direction: column;
    }

    .nav-open~.bottom {
        display: none;
    }

    .option {
        display: flex;
        font-size: 1.5rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

ul,
ol {
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
    /* optional: bullets align with text */
}